.employee-form .g-field .g-label { width:106px; }
.employee-form .g-fields, 
.employee-form .g-btns { width:800px; }
.employee-form .g-fields { border:none; }
.employee-form .g-btns { padding:48px 0 0 73px; text-align: left; }