.c-foot {
  position: absolute;
  bottom: 0;
  left: 64px;
  right: 0;
  padding: 40px 20px;
  font-size: 14px;
  color: #32323a;
  line-height: 20px;
  text-align: center;
  &.white {
    color: #fff;
  }
}
