<navbar></navbar>
<menus></menus>
<main class="business-list">
  <div class="p-gray p-modify-store">
    <div class="playout">

      <!-- 带搜索+添加的面包屑 -->
      <div class="searchbar">
        <!-- 面包屑导航 -->
        <div class="crumbs">
          <a href="javascript:;">首页</a> > <a ui-sref="business-list">我的生意</a> > <a ui-sref="business-add" >今日生意</a>
        </div>
        <!-- 面包屑导航 end -->
        <!--搜索-->
        <div class="pa search">
          <input type="text" placeholder="输入顾客手机/车牌">
          <div class="search-btn"></div>
        </div>
        <!--搜索 end-->
        <!-- 添加新生意 -->
        <a ui-sref="business-add" class="pa g-btn g-btn-green">+  记录新生意</a>
        <!-- 添加新生意 end-->
      </div>
      <!-- 带搜索+添加的面包屑 end -->
      <!-- 主内容标题 -->
      <div class="sub-header tc">
        <div class="dib fl date-directive">
          <  2016-06-20  >
        </div>
        <h2 class="dib title">记录新生意</h2>
        <div class="dib fr business-info">
          合计: <span class="warning">16</span> 笔生意 ￥ <span class="warning">12,035.60</span>
        </div>
      </div>
      <!-- 主内容标题 end -->


      <!-- 主内容 -->
      <div class="c-main">
        <div class="business-list c-table">
          <table>
            <thead>
              <tr>
                <th>序号</th>
                <th>时间</th>
                <th>顾客姓名</th>
                <th>手机号码</th>
                <th>车牌</th>
                <th>服务项目</th>
                <th>消费金额</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2016.06.15 15:30</td>
                <td>福克斯</td>
                <td>15921256088</td>
                <td>沪 L789SH</td>
                <td>修补真皮座椅、更换玻璃...</td>
                <td>￥ 5,678</td>
              </tr>
            </tbody>
          </table>

          <!-- 列表分页 -->
          <div class="bgf-pagination mt20 center paginate-anything mx-paginate ng-isolate-scope" bgf-pagination="" page="vm.project.currentPage"
            link-group-size="1" num-pages="vm.pageTotal" auto-presets="false" per-page="vm.project.pageSize" num-items="vm.project.pageCount">

            <div  class="mx-paginate-info ng-binding ng-scope">共20条记录， 每页10条</div>


            <ul  class="pagination pagination-md links">
              <li class="txt-page prev-page disabled">
                <a href="" ng-click="gotoPage(page-1)">上一页</a>
              </li>

              <li   class="ng-scope active"><a href=""  class="ng-binding">第1页</a></li>

              <li   class="ng-scope"><a href="" class="ng-binding">2</a></li>
              <li  class="page-ellipse disabled ng-scope"><a href="">......</a></li>
              <li   class="ng-scope"><a href="" class="ng-binding">22</a></li>
              <li   class="ng-scope"><a href="" class="ng-binding">23</a></li>
              <li class="txt-page next-page">
                <a href="" ng-click="gotoPage(page+1)"  class=" ng-scope">下一页</a>

              </li>
            </ul>
            <div  class="mx-paginate-jump ng-scope">
              转到
              <input type="text" ng-model="jumpPage" class="ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false"> 页
              <button ng-click="jumpToPage(jumpPage-1)">GO</button>
            </div>
          </div>
          <!-- 列表分页 end -->

        </div>
        <div class="list-empty" style="display:none;" >
          <div class="le-img"></div>
          <div class="le-txt tc">
            当前未添加员工
            <a class="g-btn g-btn-green" ui-sref="business-add">+  添加新员工</a>
          </div>
        </div>

      </div>
      <!-- 主内容 end -->


      <!-- 页脚  -->
      <page-footer></page-footer>
      <!-- 页脚 end -->
    </div>

  </div>

</main>
