<navbar></navbar>
<menus></menus>
<main>
  <div class="p-gray">
    <div class="playout">
      <!-- 带搜索+添加的面包屑 -->
      <div class="searchbar">
        <!-- 面包屑导航 -->
        <div class="crumbs">
          <a href="javascript:;">首页</a> > <a ui-sref="my-account">我的员工</a>
        </div>
        <!-- 面包屑导航 end -->
        <!--搜索-->
        <div class="pa search">
          <input type="text" placeholder="输入顾客手机/车牌">
          <div class="search-btn"></div>
        </div>
        <!--搜索 end-->
        <!-- 添加新生意 -->
        <a href="" class="pa g-btn g-btn-green">+  记录新生意</a>
        <!-- 添加新生意 end-->
      </div>
      <!-- 带搜索+添加的面包屑 end -->

      <!-- 主内容标题 -->
      <div class="pr c-header">
        我的员工
        <a ui-sref="employee-add" class="pa s-btn">+新员工</a>
      </div>
      <!-- 主内容标题 end -->
      <!-- 主内容 -->
      <div class="c-main">
        <div class="employee-list c-table">
          <table>
            <thead>
              <tr>
                <th>序号</th>
                <th>技师姓名</th>
                <th>技师编号</th>
                <th>技师手机号</th>
                <th>服务次数</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>向景景</td>
                <td>H-01</td>
                <td>15921256088</td>
                <td>6次</td>
                <td>
                  <a ui-sref="employee-edit">编辑</a>
                  <a href="" ng-click="vm.onDel()">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>向景景</td>
                <td>H-01</td>
                <td>15921256088</td>
                <td>6次</td>
                <td>
                  <a href="">编辑</a>
                  <a href="">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>向景景</td>
                <td>-</td>
                <td>15921256088</td>
                <td>6次</td>
                <td>
                  <a href="">编辑</a>
                  <a href="">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>向景景</td>
                <td>H-01</td>
                <td>15921256088</td>
                <td>6次</td>
                <td>
                  <a href="">编辑</a>
                  <a href="">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>向景景</td>
                <td>H-01</td>
                <td>15921256088</td>
                <td>6次</td>
                <td>
                  <a href="">编辑</a>
                  <a href="">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>向景景</td>
                <td>H-01</td>
                <td>15921256088</td>
                <td>6次</td>
                <td>
                  <a href="">编辑</a>
                  <a href="">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>向景景</td>
                <td>H-01</td>
                <td>15921256088</td>
                <td>6次</td>
                <td>
                  <a href="">编辑</a>
                  <a href="">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>向景景</td>
                <td>H-01</td>
                <td>15921256088</td>
                <td>6次</td>
                <td>
                  <a href="">编辑</a>
                  <a href="">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>向景景</td>
                <td>H-01</td>
                <td>15921256088</td>
                <td>6次</td>
                <td>
                  <a href="">编辑</a>
                  <a href="">删除</a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>向景景</td>
                <td>H-01</td>
                <td>15921256088</td>
                <td>6次</td>
                <td>
                  <a href="">编辑</a>
                  <a href="">删除</a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- 列表分页 -->
          <div class="bgf-pagination mt20 center paginate-anything mx-paginate ng-isolate-scope" bgf-pagination="" page="vm.project.currentPage"
            link-group-size="1" num-pages="vm.pageTotal" auto-presets="false" per-page="vm.project.pageSize" num-items="vm.project.pageCount">

            <div  class="mx-paginate-info ng-binding ng-scope">共20条记录， 每页10条</div>


            <ul  class="pagination pagination-md links">
              <li class="txt-page prev-page disabled">
                <a href="" ng-click="gotoPage(page-1)">上一页</a>
              </li>
              
              <li   class="ng-scope active"><a href=""  class="ng-binding">第1页</a></li>
              
              <li   class="ng-scope"><a href="" class="ng-binding">2</a></li>
              <li  class="page-ellipse disabled ng-scope"><a href="">......</a></li>
              <li   class="ng-scope"><a href="" class="ng-binding">22</a></li>
              <li   class="ng-scope"><a href="" class="ng-binding">23</a></li>
              <li class="txt-page next-page">
                <a href="" ng-click="gotoPage(page+1)"  class=" ng-scope">下一页</a>
              
              </li>
            </ul>
            <div  class="mx-paginate-jump ng-scope">
              转到
              <input type="text" ng-model="jumpPage" class="ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false"> 页
              <button ng-click="jumpToPage(jumpPage-1)">GO</button>
            </div>
          </div>
          <!-- 列表分页 end -->

        </div>
        <div class="list-empty" style="display:none;" >
          <div class="le-img"></div>
          <div class="le-txt tc">
            当前未添加员工 
            <a class="g-btn g-btn-green" ui-sref="employee-add">+  添加新员工</a>
          </div>
        </div>

      </div>
      <!-- 主内容 end -->
      <!-- 页脚  -->
      <page-footer></page-footer>
      <!-- 页脚 end -->
    </div>
    <!-- 弹出层 -->
    <div class="fwin del-win employee-del-win" ng-class="{show:vm.winShow}">
      <div class="fwin-mask">
        <div class="fwin-box">
          <div class="fwin-close" ng-click="vm.onClose()"></div>
          <div class="fwin-content">
            <div>
              <h1>确定删除该员工？</h1>
              <div>
                该员工及其信息将被删除，其历史服务记录<br>
                不会被删除 
                
              </div>
            </div>
          </div>
          <div class="fwin-btns g-btns">
            <div class="g-btn g-btn-green" ng-click="vm.onClose()">确认删除</div>
            <div class="g-btn g-btn-gray" ng-click="vm.onClose()">取消</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 弹出层 end -->
  </div>

</main>



          