<navbar></navbar>
<menus></menus>
<main>
  <div class="p-gray p-modify-store">
    <div class="playout">
      
      <!-- 带搜索+添加的面包屑 -->
      <div class="searchbar">
        <!-- 面包屑导航 -->
        <div class="crumbs">
          <a href="javascript:;">首页</a> > <a ui-sref="employee-list">我的员工</a> > <a ui-sref="employee-add">添加员工</a>
        </div>
        <!-- 面包屑导航 end -->
        <!--搜索-->
        <div class="pa search">
          <input type="text" placeholder="输入顾客手机/车牌">
          <div class="search-btn"></div>
        </div>
        <!--搜索 end-->
        <!-- 添加新生意 -->
        <a href="" class="pa g-btn g-btn-green">+  记录新生意</a>
        <!-- 添加新生意 end-->
      </div>
      <!-- 带搜索+添加的面包屑 end -->
      <!-- 主内容标题 -->
      <div class="c-header">添加员工</div>
      <!-- 主内容标题 end -->
      <!-- 门店表单 -->
      <div class="c-form employee-form">
        <!-- 门店表单字段 -->
        <div class="pr g-fields">
          <div class="g-field">
            <label for="employee_name" class="g-label">技师姓名</label>
            <div class="g-ipt">
              <input type="text" id="employee_name" class="g-w343" >
              <div class="g-field-tip"><span>*</span>技师姓名与技师编号至少填一项</div>
            </div>
          </div>
          <div class="g-field">
            <label for="employee_code" class="g-label">技师编号</label>
            <div class="g-ipt">
              <input type="text" id="employee_code" class="g-w343" >
              
            </div>
          </div>
          <div class="g-field">
            <label for="employee_tel" class="g-label">技师手机号</label>
            <div class="g-ipt">
              <input type="text" id="employee_tel" class="g-w343" >
              
            </div>
          </div>
          
        </div>
        <!-- 门店表单字段 end -->
        <!-- 门店表单按钮  -->
        <div class="g-btns">
          <div class="g-btn g-btn-green">保存</div>
          <div class="g-btn g-btn-green">保存并新建</div>
          <div class="g-btn g-btn-gray">取消</div>
        </div>
        <!-- 门店表单按钮 end -->

      </div>
      <!-- 门店表单 end -->
      <!-- 页脚  -->
      <page-footer></page-footer>
      <!-- 页脚 end -->
    </div>
    
  </div>
    
</main>

