<navbar></navbar>
<menus></menus>
<main>
  <div class="p-gray p-modify-store">
    <div class="playout">
      <!-- 面包屑导航 -->
      <div class="crumbs">
        <a href="javascript:;">首页</a> > <a ui-sref="my-account">我的账户</a> > <a ui-sref="modify-store">修改门店信息</a>
      </div>
      <!-- 面包屑导航 end -->
      <!-- 主内容标题 -->
      <div class="c-header">修改门店信息</div>
      <!-- 主内容标题 end -->
      <!-- 门店表单 -->
      <div class="c-form c-modify-store">
        <!-- 门店表单字段 -->
        <div class="pr g-fields">
          <div class="g-field">
            <label for="store_name" class="g-label g-required">门店名称</label>
            <div class="pr g-ipt">
              <input type="text" id="store_name" class="g-wl" >
              <div class="g-addico"><i></i><span>添加</span></div>
            </div>
          </div>
          <div class="g-field">
            <label for="store_name" class="g-label g-required">门店地址</label>
            <div class="g-sel">
              <select class="g-ws">
                <option value="1">上海市</option>
                <option value="1">北京市</option>
                <option value="1">重庆市</option>
                <option value="1">天津市</option>
              </select>
              <select class="g-ws">
                <option value="1">上海市</option>
                <option value="1">北京市</option>
                <option value="1">重庆市</option>
                <option value="1">天津市</option>
              </select>
              <input type="text" class="g-wml">
            </div>
          </div>
          <div class="g-field">
            <label for="store_server" class="g-label g-required">服务类型</label>
            <div class="g-ckb">
              <div>
                <input type="checkbox" id="store_server_1">
                <label for="store_server_1">快修快保</label>
                <input type="checkbox" id="store_server_2">
                <label for="store_server_2">美容改装</label>
              </div>
              <div>
                <input type="checkbox" id="store_server_3">
                <label for="store_server_3">轮胎专项</label>
                <input type="checkbox" id="store_server_4">
                <label for="store_server_4">其他</label>
              </div>
              <div>
                <input type="checkbox" id="store_server_5">
                <label for="store_server_5">综合维修</label>
              </div>
            </div>
          </div>
          <div class="g-field">
            <label for="store_area" class="g-label">门店面积</label>
            <div class="g-ipt">
              <input type="text" id="store_area" class="g-wm"> <span class="g-unit">m<i>2</i></span>
            </div>
          </div>
          <div class="g-field">
            <label for="store_park" class="g-label">汽修工位</label>
            <div class="g-sel">
              <select  id="store_park" class="g-wm">
                <option value="4">30个</option>
                <option value="3">29个</option>
                <option value="2">28个</option>
                <option value="1">27个</option>
                <option value="4">26个</option>
                <option value="3">25个</option>
                <option value="2">24个</option>
                <option value="1">23个</option>
                <option value="4">22个</option>
                <option value="3">21个</option>
                <option value="2">20个</option>
                <option value="1">19个</option>
                <option value="4">18个</option>
                <option value="3">17个</option>
                <option value="2">16个</option>
                <option value="1">15个</option>
                <option value="4">14个</option>
                <option value="3">13个</option>
                <option value="2">12个</option>
                <option value="1">11个</option>
                <option value="4">10个</option>
                <option value="3">9个</option>
                <option value="2">8个</option>
                <option value="1">7个</option>
                <option value="4">6个</option>
                <option value="3">5个</option>
                <option value="2">4个</option>
                <option value="1">3个</option>
                <option value="1">2个</option>
                <option value="1">1个</option>
              </select>
            </div>
          </div>
          <div class="g-field">
            <label for="store_director" class="g-label">负责人</label>
            <div class="g-ipt">
              <input type="text" id="store_director" class="g-wm">
            </div>
          </div>
          <div class="g-field">
            <label for="store_tel" class="g-label">联系方式</label>
            <div class="g-ipt">
              <input type="text" id="store_tel" class="g-wm">
            </div>
          </div>
          <div class="g-field">
            <label for="store_year" class="g-label">开店年份</label>
            <div class="g-sel">
              <select id="store_year" class="g-wm">
                <option value="2016">2016年</option>
                <option value="2015">2015年</option>
                <option value="2014">2014年</option>
                <option value="2013">2013年</option>
                <option value="2012">2012年</option>
                <option value="2011">2011年</option>
                <option value="2010">2010年</option>
              </select>
            </div>
          </div>
          <div class="g-op g-del">删除该门店</div>
        </div>
        <!-- 门店表单字段 end -->
        <!-- 门店表单字段 -->
        <div class="pr g-fields">
          <div class="g-field">
            <label for="store_name" class="g-label g-required">门店名称</label>
            <div class="pr g-ipt">
              <input type="text" id="store_name" class="g-wl" >
              <div class="g-addico"><i></i><span>添加</span></div>
            </div>
          </div>
          <div class="g-field">
            <label for="store_name" class="g-label g-required">门店地址</label>
            <div class="g-sel">
              <select class="g-ws">
                <option value="1">上海市</option>
                <option value="1">北京市</option>
                <option value="1">重庆市</option>
                <option value="1">天津市</option>
              </select>
              <select class="g-ws">
                <option value="1">上海市</option>
                <option value="1">北京市</option>
                <option value="1">重庆市</option>
                <option value="1">天津市</option>
              </select>
              <input type="text" class="g-wml">
            </div>
          </div>
          <div class="g-field">
            <label for="store_server" class="g-label g-required">服务类型</label>
            <div class="g-ckb">
              <div>
                <input type="checkbox" id="store_server_1">
                <label for="store_server_1">快修快保</label>
                <input type="checkbox" id="store_server_2">
                <label for="store_server_2">美容改装</label>
              </div>
              <div>
                <input type="checkbox" id="store_server_3">
                <label for="store_server_3">轮胎专项</label>
                <input type="checkbox" id="store_server_4">
                <label for="store_server_4">其他</label>
              </div>
              <div>
                <input type="checkbox" id="store_server_5">
                <label for="store_server_5">综合维修</label>
              </div>
            </div>
          </div>
          <div class="g-field">
            <label for="store_area" class="g-label">门店面积</label>
            <div class="g-ipt">
              <input type="text" id="store_area" class="g-wm"> <span class="g-unit">m<i>2</i></span>
            </div>
          </div>
          <div class="g-field">
            <label for="store_park" class="g-label">汽修工位</label>
            <div class="g-sel">
              <select  id="store_park" class="g-wm">
                <option value="4">30个</option>
                <option value="3">29个</option>
                <option value="2">28个</option>
                <option value="1">27个</option>
                <option value="4">26个</option>
                <option value="3">25个</option>
                <option value="2">24个</option>
                <option value="1">23个</option>
                <option value="4">22个</option>
                <option value="3">21个</option>
                <option value="2">20个</option>
                <option value="1">19个</option>
                <option value="4">18个</option>
                <option value="3">17个</option>
                <option value="2">16个</option>
                <option value="1">15个</option>
                <option value="4">14个</option>
                <option value="3">13个</option>
                <option value="2">12个</option>
                <option value="1">11个</option>
                <option value="4">10个</option>
                <option value="3">9个</option>
                <option value="2">8个</option>
                <option value="1">7个</option>
                <option value="4">6个</option>
                <option value="3">5个</option>
                <option value="2">4个</option>
                <option value="1">3个</option>
                <option value="1">2个</option>
                <option value="1">1个</option>
              </select>
            </div>
          </div>
          <div class="g-field">
            <label for="store_director" class="g-label">负责人</label>
            <div class="g-ipt">
              <input type="text" id="store_director" class="g-wm">
            </div>
          </div>
          <div class="g-field">
            <label for="store_tel" class="g-label">联系方式</label>
            <div class="g-ipt">
              <input type="text" id="store_tel" class="g-wm">
            </div>
          </div>
          <div class="g-field">
            <label for="store_year" class="g-label">开店年份</label>
            <div class="g-sel">
              <select id="store_year" class="g-wm">
                <option value="2016">2016年</option>
                <option value="2015">2015年</option>
                <option value="2014">2014年</option>
                <option value="2013">2013年</option>
                <option value="2012">2012年</option>
                <option value="2011">2011年</option>
                <option value="2010">2010年</option>
              </select>
            </div>
          </div>
          <div class="g-op g-del">删除该门店</div>
        </div>
        <!-- 门店表单字段 end -->
        <!-- 门店表单按钮  -->
        <div class="g-btns">
          <div class="g-btn g-btn-green">保存</div>
          <div class="g-btn g-btn-gray">取消</div>
        </div>
        <!-- 门店表单按钮 end -->

      </div>
      <!-- 门店表单 end -->
      <!-- 页脚  -->
      <page-footer></page-footer>
      <!-- 页脚 end -->
    </div>
    <!-- 弹出层 -->
    <div class="fwin del-win">
      <div class="fwin-mask">
        <div class="fwin-box">
          <div class="fwin-close"></div>
          <div class="fwin-content">
            <div>
              <h1>确定删除该门店？</h1>
              <div>
                该门店所有顾客、员工、生意等信息都将一并被删除 <br>
                18098948839 <span class="g-btn g-btn-green" >发送验证码</span>
                <div class="g-field">
                  <input type="text" placeholder="请输入收到的手机验证码">
                </div>
              </div>
            </div>
          </div>
          <div class="fwin-btns g-btns">
            <div class="g-btn g-btn-green">确认删除</div>
            <div class="g-btn g-btn-gray">取消</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 弹出层 end -->
  </div>
    
</main>

