<div class="business-protocol-overlay" *ngIf="businessShow">
  <div class="business-protocol-block">
    <div class="business-protocol-header">
      <h3 class="business-protocol-title">新增服务记录</h3>
      <a href="javascript:void(0);" class="business-protocol-close" (click)="onClose()">X</a>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="business-protocol-row">
        <div class="business-protocol-content business-protocol-left">
          <div class="g-field">
            <label for="store_name" class="g-label">
              <span class="warning">*</span>车牌号</label>
            <div class="g-ipt">
              <input type="text" required name="vehicleLicence" [(ngModel)]="business.vehicleLicence" #vehicleLicence="ngModel" (keyup)="onChangeVL($event)" class="g-wml">
            </div>
            <div class="msg">
              <span class="text-error" *ngIf="!vehicleLicence.valid && !vehicleLicence.pristine">
                <span class="warning" *ngIf="vehicleLicence.errors?.required">车牌号不能为空</span>
                <span class="warning" *ngIf="vehicleLicence.errors?.pattern">请输入正确的车牌号</span>
              </span>
            </div>
          </div>
          <div class="g-field">
            <label for="store_name" class="g-label">
              <span class="warning">*</span>服务项目</label>
            <div class="g-ipt">
              <input type="text" required maxlength="250" name="name" [(ngModel)]="business.name" #name="ngModel" class="g-wml">
            </div>
            <div class="msg">
              <span class="text-error" *ngIf="!name.valid && !name.pristine">
                <span class="warning" *ngIf="name.errors?.required">服务项目不能为空</span>
                <span class="warning" *ngIf="name.errors?.maxlength">服务项目不能超过250个字</span>
              </span>
            </div>
          </div>
          <div class="g-field">
            <label for="store_name" class="g-label">
              <span class="warning">*</span>主理技师</label>
            <div class="g-ipt">
              <select id="store_year" required name="employeeId" [(ngModel)]="business.employeeId" #employeeId="ngModel" class="g-wm">
                <option value="null">请选择主理技师</option>
                <option [value]="e.id" *ngFor="let e of employeeList">{{e.name}}</option>
                <option value="other">其他</option>
              </select>
              <md-checkbox *ngIf="business.employeeId=='other'" name="employeeChecked" [(ngModel)]="business.employeeChecked">我的员工</md-checkbox>
            </div>
          </div>
          <div class="g-field" *ngIf="business.employeeId=='other'">
            <label for="store_name" class="g-label"></label>
            <div class="g-ipt">
              <input type="text" placeholder="请输入技师编号或姓名" name="employeeInput" [(ngModel)]="business.employeeInput" #employeeInput="ngModel" class="g-wml">
            </div>
          </div>
          <div class="g-field">
            <label for="store_name" class="g-label">
              备注</label>
            <div class="g-ipt">
              <textarea [(ngModel)]="business.description" name="description" #description="ngModel" rows="8" cols="40" class="g-wml"></textarea>
            </div>
          </div>
        </div>
        <div class="business-protocol-right">
          <div class="new-customer" *ngIf="customer?.id===null&&isVehicleLength(f)">
            <img src="/assets/images/new-customer.png" alt="新顾客"/>
            <div class="">新顾客</div>
          </div>
          <div class="old-customer" *ngIf="customer?.id!==null&&isVehicleLength(f)">
            <img src="/assets/images/old-customer.png" alt="老顾客"/>
            <div class="">老顾客</div>
          </div>
        </div>
      </div>
      <div class="btn-block">
        <button type="submit" class="submit" [disabled]="!f.valid||loading">提交</button>
        <button type="button" class="cancel ml25" (click)="onClose()">取消</button>
      </div>
    </form>
  </div>
</div>
