<div class="login-block">
<div class="common-top-nav fixed">
	<div class="wrapper clearfix">
		<div class="thzs-logo fl"><a ui-sref="login" title="天会智数-车门店">天会智数-车门店</a></div>
		<div class="main-nav fr">
			<ul>
				<li><a ui-sref="login" class="cur" title="首页">首页</a></li>
				<li><a href="about-us.html" title="关于我们">关于我们</a></li>
				<li><a href="contact-us.html" title="联系我们">联系我们</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="banner-wrap">
    <div class="car-banner">
        <div class="car-title">
          <i class="wrench-icon wrench-left-icon"></i>
		  <div class="car-title-block">
			  <h1>智数车门店</h1>
			  <h3>汽修门店竞争神器</h3>
		  </div>
		  <i class="wrench-icon wrench-right-icon"></i>
        </div>
		<div class="car-login">
			<form >
				<input type="text" placeholder="手机号码" class="input-normal">
				<div class="input-group">
					<input type="password" placeholder="密码" class="input-normal">
					<a ui-sref="register" class="forget-pwd-link">忘记密码?</a>
				</div>
				<button type="submit" class="car-login-btn">登&nbsp;&nbsp;录</button>
			</form>
		</div>
		<div class="car-register-link">
			没有账户?<a ui-sref="register" class="a-link">注册一个</a>
		</div>
    </div>
</div>
<div class="wrapper car-remark">
	<h2 class="car-remark-title">
		智数车门店门店综合管理平台，基于互联网大数据技术，对门店竞争力做出排名，指出门店优势劣势及改进方向，帮助店主
	</h2>
	<div class="our-three clearfix">
		<div class="col3"> <i class="business-icon"></i>
			<h3>经营好每一笔服务</h3>
		</div>
		<div class="col3"> <i class="customer-icon"></i>
			<h3>服务我每一个客户</h3>
		</div>
		<div class="col3"> <i class="employee-icon"></i>
			<h3>管理好每一个员工</h3>
		</div>
	</div>
</div>
<div class="car-service">
	<div class="car-service-list">
	<ul>
		<li class="quick-repairing-block">
		</li>
		<li class="integrated-maintenance">
		</li>
		<li class="beauty-refit">
		</li>
		<li class="tire-specialist">
		</li>
	</ul>
	</div>
	<div class="car-service-floral"></div>
	<div class="car-service-floral-2"></div>
</div>
<h2 class="car-data-title">
	相关数据为门店所有，天会智数承诺不把门店数据与第三方共享
</h2>
<div class="wrapper">
	<div class="baozhang-box">
		<ul class="anquan-baozhang">
			<li>
          <div class="icons-alyun"></div>
          <!--<img src="images/aliyun.gif" width="188" height="69" />-->
				<p class="mt10">数据存储在安全级别高的阿里云</p>
			</li>
			<li>
          <div class="icons-baomi128"></div>
          <!--<img src="images/baomi128.gif" width="69" height="69" />-->
				<p class="mt10">账户相关数据全部采用128位加密</p>
			</li>
			<li>
          <div class="icons-cunchu"></div>
          <!--<img src="images/cunchu.gif" width="69" height="69" />-->
				<p class="mt10">增备全备异地备的备份策略确保数据有效性</p>
			</li>
		</ul>
	</div>
</div>
<div class="footer">
	<div class="wrapper">
		<div class="inner-ft">
			<div class="foot-link clearfix">
				<ul class="link-list fl">
					<li>
						<h4><a href="index.html" target="_top">首页</a></h4>
					</li>
					<li>
						<h4><a href="about-us.html" target="_top">关于我们</a></h4>
						<p><a href="about-us.html" target="_top">产品介绍</a></p>
						<p><a href="company-intro.html" target="_top">公司介绍</a></p>						
						<p><a href="join-us.html" target="_top">加入我们</a></p>
					</li>
					<li>
						<h4><a href="contact-us.html" target="_top">联系我们</a></h4>
						<p>联系人：张小姐</p>
						<p>电话：（86）021-51210418-813</p>
						<p>Email：ekin.zhang@mytianhui.com</p>
					</li>
				</ul>
				<div class="fr hd-plat">
					<h4>互动平台</h4>
					<div class="qr-dyb"><div class="fl"><p>官方微博</p><a target="_blank" href="http://weibo.com/thzhishu"><i></i></a></div>
					<div> <div class="fr"><p>官方微信</p><a href="javascript:void(0)" class="wx last"><i></i></a></div></div>
				</div>
			</div>
		</div>
		<div class="copyright-ft">
			<ul class="copyright-lf">
				<li><font> 2006-2016 All rights reserved 上海皓煦数据技术有限公司 沪ICP备08012157号-5 </font></li>
			</ul>
			<div class="ft-logo"> <a class="zfb" rel="nofollow" target="footer-hyperlink" title="支付宝特约商家" href="https://www.alipay.com/aip/aip_validate_list.htm?trust_id=AIP03038075"></a> <a class="shgs" rel="nofollow" target="footer-hyperlink" title="上海工商" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=201406191611157"></a> <a class="wlsh" rel="nofollow" target="footer-hyperlink" title="网络社会征信网" href="http://www.zx110.org/"></a> </div>
		</div>
	</div>
</div>
</div>

