<navbar></navbar>
<menus></menus>
<main>
  <div class="p-gray">
    <div class="playout">
      
      <!-- 带搜索+添加的面包屑 -->
      <div class="searchbar">
        <!-- 面包屑导航 -->
        <div class="crumbs">
          <a href="javascript:;">首页</a> > <a ui-sref="my-account">我的账户</a>
        </div>
        <!-- 面包屑导航 end -->
        <!--搜索-->
        <div class="pa search">
          <input type="text" placeholder="输入顾客手机/车牌">
          <div class="search-btn"></div>
        </div>
        <!--搜索 end-->
        <!-- 添加新生意 -->
        <a href="" class="pa g-btn g-btn-green">+  记录新生意</a>
        <!-- 添加新生意 end-->
      </div>
      <!-- 带搜索+添加的面包屑 end -->
      <!-- 主内容标题 -->
      <div class="c-header">账户信息</div>
      <!-- 主内容标题 end -->
      <!-- 主内容 -->
      <div class="c-main s-table">
        
        <div class="s-tr">
          <div class="s-td">账户版本:</div>
          <div class="s-td">{{accountBaseInfo.packages}}</div>
        </div>
        <div class="s-tr" *ngFor="let shop of accountBaseInfo.shops; let fir = first;">
          <div class="s-td"><span *ngIf="fir">门店资料：</span></div>
          <div class="s-td">{{shop.name}}<a [routerLink]="['/modify-store',{id: shop.id}]">修改</a><div *ngIf="fir" class="g-addico"><i></i><span>添加</span></div></div>
        </div>
        <!--<div class="s-tr">
          <div class="s-td"></div>
          <div class="s-td">徐汇区肇嘉浜路店<a ui-sref="modify-store">修改</a></div>
        </div>-->
        <div class="s-tr">
          <div class="s-td">登录账号：</div>
          <div class="s-td">{{accountBaseInfo?.user?.mobile}}</div>
        </div>
        <div class="s-tr">
          <div class="s-td">登录密码：</div>
          <div class="s-td">****** <a [routerLink]="['/modify-pwd']">修改</a></div>
        </div>
      </div>
      <!-- 主内容 end -->
      <!-- 页脚  -->
      <page-footer></page-footer>
      <!-- 页脚 end -->
    </div>
  </div>
    
</main>

