<div class="login-min">
  <main-logo></main-logo>
  <form (ngSubmit)="onSubmit()" [ngFormModel]="loginForm">
    <div class="login-min-block animated rubberBand" [class.jump-animation-target]="loginForm.submited">
      <div class="">
        <h2 class="login-min-title">登录<a [routerLink]="['/register']" class="login-min-register-link fr">注册新账户</a>
        </h2>
        <div class="login-min-input" [class.error]="1">
          <input type="text" placeholder="请输入您的手机号码" [(ngModel)]="user.phone">
          <div class="msg">
            <span class="text-error">请输入正确的手机号码</span>
          </div>
        </div>
        <div class="login-min-input">
          <input type="password" placeholder="请输入您的账户密码" [(ngModel)]="user.pwd">
          <div class="msg">
            <span class="text-error">请输入正确的密码</span>
          </div>
        </div>
        <div class="login-min-input">
          <input type="" class="w140 dib" placeholder="验证码" [(ngModel)]="user.code"><img src="" class="dib link ml10" alt="验证码">
          <a class="dib link ml10" (click)="onChangeCode()">换一张</a>
          <div class="msg">
            <span class="text-error">请输入验证码</span>
          </div>
          <span>验证码输入 next ,进入 我的账户页面</span>
        </div>
        <button type="submit" class="login-min-btn-submit" (click)="onLogin()">下一步</button>
        <a [routerLink]="['/register']" class="login-min-register-link">忘记密码</a>
      </div>
      <i></i>
    </div>
  </form>
  <page-footer class="white"></page-footer>
</div>
