.register {
    background: #8cc63e;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .register-block {
        border-radius: 15px 15px 0 15px;
        padding: 46px;
        background: #fff;
        position: absolute;
        top: 167px;
        left: 50%;
        width: 438px;
        // height: 355px;
        margin-left: -219px;
        i {
            background: url(../images/right-corner.png) 0 0 no-repeat;
            position: absolute;
            right: 0;
            bottom: -41px;
            width: 45px;
            height: 41px;
        }
        .fr {
            float: right;
        }
        .link {
            cursor: pointer;
            color: #343434;
        }
        .dib {
            display: inline-block;
        }
        .register-title {
            color: #008b3d;
            font-size: 22px;
        }
        .register-login-link {
            color: #008b3d;
            font-size: 12px;
            line-height: 40px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .register-input {
            position: relative;
            input {
                border: 1px solid #b6b6b6;
                width: 100%;
                height: 40px;
                padding: 0 15px;
                border-radius: 4px;
                &.inner-group {
                    padding-right: 100px;
                }
            }
            img {
                vertical-align: top;
                width: 90px;
                height: 40px;
            }
            .msg {
                height: 25px;
                width: 100%;
            }
            .w140 {
                width: 140px;
            }
            .ml10 {
                margin-left: 10px;
            }
            .text-error {
                display: none;
                font-size: 14px;
                line-height: 24px;
            }
            &.error {
                input {
                    border: 1px solid #f86b4f;
                }
                .text-error {
                    color: #f86b4f;
                    display: block;
                }
            }
            .inner-btn {
                position: absolute;
                right: 0;
                top: 0;
                background: #008b3d;
                color: #fff;
                height: 40px;
                border-radius: 0 5px 5px 0;
                line-height: 40px;
                font-size: 14px;
                padding: 0 10px;
                cursor: pointer;
                &:hover,
                :active {
                    background: #38b549;
                }
                &.disabled,
                [disabled] {
                    background: #c0c0c0;
                }
            }
        }
        .register-btn-submit {
            background: #008b3d;
            color: #fff;
            width: 100%;
            line-height: 35px;
            border: 1px solid transparent;
            &:hover,
            :active {
                background: #38b549;
            }
            &.disabled,
            [disabled] {
                background: #c0c0c0;
            }
        }
    }
}