<div class="forgetPwd">
  <main-logo></main-logo>
  <form (ngSubmit)="onCheckPhone()" #fpForm="ngForm"  *ngIf="next === null ? false : next===1">
    <div class="forgetPwd-block animated rubberBand"  [class.flipOutY]="0">
      <h2 class="forgetPwd-title">找回密码<a routerLink="/register" routerLinkActive="active" class="forgetPwd-register-link fr">注册新账户</a>
      </h2>
      <div class="forgetPwd-input " [class.error]="!fpForm.controls.phone?.valid && !fpForm.controls.phone?.pristine">
        <input type="text" ngControl="phone" [(ngModel)]="fp.phone" required pattern="^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$"
          placeholder="请输入您的手机号码">
        <div class="msg">
          <span class="text-error" >
            <span *ngIf="fpForm.controls.phone?.errors?.required">手机号码不能为空</span>
          <span *ngIf="fpForm.controls.phone?.errors?.pattern">请输入正确的手机号码</span>
          </span>
        </div>
      </div>
      <div class="forgetPwd-input" [class.error]="!fpForm.controls.rnd?.valid && !fpForm.controls.rnd?.pristine">
        <input type="" class="w140 dib" maxlength="4" [(ngModel)]="fp.rnd" ngControl="rnd" required placeholder="请输入右侧图形校验码">
        <img [src]="img" class="dib link ml10" alt="验证码" (click)="onChangeCodeImg()">
        <a class="dib link ml10" (click)="onChangeCodeImg()">换一张</a>
        <div class="msg">
          <span class="text-error" *ngIf="!fpForm.controls.rnd?.valid">请输入右侧图形校验码</span>
        </div>
      </div>
      <div class="forgetPwd-input" [class.error]="!fpForm.controls.code?.valid && !fpForm.controls.code?.pristine">
        <input type="text" class="inner-group" maxlength="10" [(ngModel)]="fp.code"  ngControl="code" required placeholder="请输入短信验证码">
        <a class="inner-btn" [class.disabled]="seekDisabeld||!fpForm.controls.phone?.valid||!fpForm.controls.rnd?.valid" (click)="onSeekPhone(fpForm.value.phone,fpForm.value.rnd)">{{seekBtnTitle}}</a>
        <div class="msg">
          <span class="text-error" *ngIf="!fpForm.controls.code?.valid">验证码错误</span>
        </div>
      </div>
      <button type="submit" class="forgetPwd-btn-submit" [disabled]="!fpForm.valid">下一步</button>
      <!--<button type="button" class="forgetPwd-btn-submit" (click)="next=2">下一步</button>-->
      <a routerLink="/login-min" routerLinkActive="active" class="forgetPwd-register-link">又想起来了</a>
      <i></i>
    </div>
  </form>
  <form (ngSubmit)="onEditPwd()" #newPwdForm="ngForm" *ngIf="next === null ? false : next===2">
    <div class="forgetPwd-block animated"  [class.zoomOutRight]="0">
      <h2 class="forgetPwd-title">设置新密码</h2>
      <div class="forgetPwd-input" [class.error]="!newPwdForm.controls.pwd?.valid && !newPwdForm.controls.pwd?.pristine">
        <input type="password" placeholder="请设置您的密码(6-16位长度)" [(ngModel)]="fp.pwd" ngControl="pwd" minlength="6" maxlength="16" required>
        <div class="msg">
          <span class="text-error">
            <span *ngIf="newPwdForm.controls.pwd?.errors?.required">密码不能为空</span>
          </span>
        </div>
      </div>
      <div class="forgetPwd-input" [class.error]="!newPwdForm.controls.checkPwd?.valid && !newPwdForm.controls.checkPwd?.pristine">
        <input type="password" placeholder="请确认您的密码(6-16位长度)" [(ngModel)]="fp.checkPwd" ngControl="checkPwd" minlength="6" maxlength="16" required>
        <div class="msg">
          <span class="text-error" >
            <span *ngIf="newPwdForm.controls.checkPwd?.errors?.required">密码不能为空</span>
          </span>
          <span class="text-error" *ngIf="diff">
            两次密码不一致
          </span>
        </div>
      </div>
      <button type="submit" class="forgetPwd-btn-submit" [disabled]="!newPwdForm.valid||loading">确认提交</button>
      <!--<button type="button" class="forgetPwd-btn-submit" (click)="next=1">下一步</button>-->
      <i></i>
    </div>
  </form>
  <page-footer cls="white"></page-footer>
</div>
<div class="forgetPwd-protocol-overlay" *ngIf="openProtocol">
  <div class="forgetPwd-protocol-block">
    <div class="forgetPwd-protocol-content">
      <h6>{{errorPhoneCode}}</h6>
    </div>
    <div class="btn-block">
      <button type="button" class="submit" (click)="onClose()" name="button">确认</button>
      <button type="button" class="cancel ml25" (click)="onClose()" name="button">取消</button>
    </div>
  </div>
</div>