<navbar></navbar>
<menus></menus>
<main>
  <div class="p-gray">
    <div class="playout">
      <!-- 面包屑导航 -->
      <div class="crumbs">
        <a href="javascript:;">首页</a> > <a ui-sref="my-account">我的账户</a> > <a ui-sref="modify-pwd">修改密码</a>
      </div>
      <!-- 面包屑导航 end -->
      <!-- 主内容标题 -->
      <div class="c-header">修改密码</div>
      <!-- 主内容标题 end -->
      <!-- 表单 -->
      <div class="c-form c-modify-pwd">
        <!-- 密码表单字段 -->
        <div class="pr g-fields">
          <div class="g-field">
            <label for="pwd_current" class="g-label">当前密码</label>
            <div class="g-ipt">
              <input type="password" id="pwd_current" class="g-wxm" >
            </div>
          </div>
          
          <div class="g-field">
            <label for="pwd_new" class="g-label">新密码</label>
            <div class="g-ipt">
              <input type="password" id="pwd_new" class="g-wxm" >
            </div>
          </div>
          
          <div class="g-field">
            <label for="pwd_renew" class="g-label">确认新密码</label>
            <div class="g-ipt">
              <input type="password" id="pwd_renew" class="g-wxm" >
            </div>
          </div>
          
          
        </div>
        <!-- 密码表单字段 end -->
        <!-- 密码表单按钮  -->
        <div class="g-btns">
          <div class="g-btn g-btn-green">保存</div>
          <div class="g-btn g-btn-gray">取消</div>
        </div>
        <!-- 密码表单按钮 end -->

      </div>
      <!-- 表单 end -->
      <!-- 页脚  -->
      <page-footer></page-footer>
      <!-- 页脚 end -->
    </div>
  </div>
    
</main>

