<div class="init-store">
  <main-logo></main-logo>
  <div class="init-store-block animated rubberBand" ng-class="{zoomOutRight:isForm.submited==1}">
    <div class="p-gray p-modify-store">
      <div class="register-progress-rate"></div>
      <store-form (success)="onSuccess($event)"></store-form>
    </div>
    <i class="right-arrow"></i>
    <!-- 弹出层 -->
    <div class="fwin del-win">
      <div class="fwin-mask">
        <div class="fwin-box">
          <div class="fwin-close"></div>
          <div class="fwin-content">
            <div>
              <h1>确定删除该门店？</h1>
              <div>
                该门店所有顾客、员工、服务等信息都将一并被删除
                <br>
                18098948839
                <span class="g-btn g-btn-green">发送验证码</span>
                <div class="g-field">
                  <input type="text" placeholder="请输入收到的手机验证码">
                </div>
              </div>
            </div>
          </div>
          <div class="fwin-btns g-btns">
            <div class="g-btn g-btn-green">确认删除</div>
            <div class="g-btn g-btn-gray">取消</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 弹出层 end -->
  </div>
  <page-footer class="white"></page-footer>
</div>
