.sv {    
    .box {
        display:-webkit-box;
        display:-moz-box;
        display:box;
        display:-webkit-flex;
        display:flex;
    }
    .box-h {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    .box-h-c {
        -webkit-box-align:center;
        -moz-box-align:center;
        box-align:center;
        -webkit-align-items:center;
        align-items: center;
    }
    .box-h-cc {
        -webkit-align-items:center;
        -moz-align-items:center;
        align-items:center;
        -webkit-box-pack:center;
        -moz-box-pack:center;
        box-pack:center;
        -webkit-justify-content:center;
        justify-content: center;
    }
    .box-v{
        -webkit-box-orient: vertical;
        box-orient: vertical;
        -webkit-flex-direction:column;
        flex-direction:column;

    }

    .box-v-c {
        -webkit-justify-content:center;
        justify-content:center;
    }

    .box-v-cc {
        -webkit-box-align:center;
        box-align:center;
        -webkit-box-pack: center;
        box-pack: center;
        -webkit-justify-content:center;
        justify-content:center;
        -webkit-align-items:center;
        align-items:center;
    }

    .flex-1 {
        -webkit-box-flex:1;
        box-flex: 1;
        -webkit-flex:1;
        flex:1;
    }
}

.sv-f, .sv-page {
    width:100vw;
    height:100vh;
}
.sv-container {
    position:relative;
    overflow:hidden;
}
.sv-page {
    position:absolute;
    max-width:640px;
    left:0;
    top:100%;
    transition: all .5s ease-out;
    z-index:1;
    background:#fff;
    background-size: 100% auto;
    color:#343434;
    overflow:auto;
}
.sv-page > div {
    width:100%;
    min-height:100vh;
    padding-bottom:142px;
    background:url(./assets/images/survey/sp_bg.png) no-repeat center bottom;
    
}
.sv-page.current, .sv-page.old {
    left:0;
    top:0;
    
}
.sv-page.current {
    z-index:2;
}

.sp-btn {
    width:360px;
    height:102px;
    padding: 41px 83px 0;
    background:url(./assets/images/survey/btn.png) no-repeat center center;
    margin:0 auto;
    font-size:32px;
    color:#fff;
    text-align: center;
}

.sv-q {
    > div {
        > .sv-q-t {
            color:#8dc63f;
            font-size:28px;
            margin-bottom:4px;
            &.warning {
                color:#f32c52;
            }
        }
        > .sv-q-tip {
            color:#777;
            font-size:16px;
            line-height: 28px;
        }
        > .sv-q-c {
            margin-top:37px;
        }
    }
    .sv-q-mscore {
        .sv-q-score {
            .sv-q-t {
                font-size:24px;
                line-height: 30px;
            }
            
        }
    }

    .sv-q-score {
        position:relative;
        .sv-q-score-0 {
            position:absolute;
            top:0;
            right:0;
            width:88px;
            height:30px;
            border:2px solid #9a9a9a;
            background:#9a9a9a;
            text-align: center;
            color:#fff;
            line-height: 26px;
            border-radius:4px;
            font-size:18px;
            &.active {
                border-color:#000;
                background:#f16557;
            }
        }
        .sv-q-c {
            position:relative;
            height:108px;
            margin:33px 0 49px;
            span {
                position:absolute;
                display:block;
                width:81px;
                height:54px;
                background:url(./assets/images/survey/ico.png) no-repeat -15px -337px;
                text-align: center;
                line-height:50px;
                padding:4px 10px 0 0;
                color:#fff;
                font-size:18px;
                &.active-prev {
                    background-position: -15px -229px;
                    color:#343434;
                }
                &.active {
                    background-position: -15px -130px;
                    font-size:28px;
                }
                &:nth-child(1) {
                    top:0;
                    left:0;
                }
                &:nth-child(2) {
                    top:54px;
                    left:55px;
                }
                &:nth-child(3) {
                    top:0;
                    left:110px;
                }
                &:nth-child(4) {
                    top:54px;
                    left:165px;
                }
                &:nth-child(5) {
                    top:0;
                    left:220px;
                }
                &:nth-child(6) {
                    top:54px;
                    left:275px;
                }
                &:nth-child(7) {
                    top:0;
                    left:330px;
                }
                &:nth-child(8) {
                    top:54px;
                    left:385px;
                }
                &:nth-child(9) {
                    top:0;
                    left:440px;
                }
                &:nth-child(10) {
                    top:54px;
                    left:495px;
                }

            }
        }
    }

}

.q-select {
    display:block;
    width:454px;
    height:57px;
    border:3px solid #343434;
    border-radius:4px;
    padding:0 27px;
    margin:0 auto;
    font-size:28px;
    line-height: 50px;
}




.sp-0 {
    .sv-logo {
        width:194px;
        height:106px;
        background:url(./assets/images/survey/ico.png) no-repeat -223px -354px;
    }
    .sv-h {
        color:#8dc63f;
        font-size:46px;
        text-align:center;
        margin:90px auto 30px;
        div {
            font-size:65px;
        }
    }
    .sv-t {
        font-size:22px;
        line-height: 30px;
        padding:0 116px;
        margin-bottom:50px;
    }
}

.svp-wrap {
    padding: 100px 30px 142px;
}

.sv-q-sex {
    .sv-q-c {
        font-size:0;
        margin:50px 0;
        label {
            position:relative;
            display:inline-block;
            width:138px;
            height:138px;
            margin-left:84px;
            input {
                display:none;
            }
            div {
                position:absolute;
            }
            .q-letter {
                width:38px;
                height:38px;
                left:0;
                bottom:0;
                background:#8dc63f;
                color:#fff;
                font-size:36px;
                line-height: 38px;
                text-align: center;
            }
            .q-person {
                width:50px;
                padding-top:107px;
                top:0;
                right:31px;
                font-size:24px;
                text-align: center;
                background:url(./assets/images/survey/ico.png) no-repeat -353px -180px;
            }

            .q-checked {
                width:61px;
                height:51px;
                bottom:0;
                right:0;
                background:url(./assets/images/survey/ico.png) no-repeat -26px -14px;
                opacity:0;
            }
            

            &.checked {
                .q-person {
                    background-position:-353px -28px;
                }
                .q-checked {
                    opacity:1;
                }
            }
            &:first-child {
                .q-person {
                    background-position:-236px -180px;
                }
                &.checked {
                    .q-person {
                        background-position:-236px -28px;
                    }
                    
                }
            }
        }
    }
}

.sv-q-age {
    .sv-q-c {
        margin:54px 0 50px;
    }
}

.sv-q-stext {
    .sv-q-c {
        margin:56px 0 80px;
        label {
            font-size:36px;
            padding:0 0 0 24px;
            span {
                display:inline-block;
                width:197px;
                text-indent:24px;
            }
            .sv-ipt {
                display:inline-block;
                width:320px;
                height:50px;
                vertical-align: middle;
                padding:0;
                line-height: 40px;
                border:none;
                border-bottom:2px dashed #343434;
                outline:none;
                font-size:36px;
                box-shadow:none;
                &:focus {
                    box-shadow:none;
                }
            }
        }
    }
}

.sp-6 {
    .sv-q-stext {
        .sv-q-c {
            margin:50px 0;
        }
    }
}

.sv-q-radio {
    .sv-q-c {
        font-size:0;
    }
    label {
        display:inline-block;
        position:relative;
        width:50%;
        font-size:30px;
        color:#9a9a9a;
        padding-left:62px;
        height:38px;
        line-height: 38px;
        margin-bottom:71px;
        counter-increment: testname2;
        input {
            display:none;
        }
        &:before {
            position:absolute;
            display: block;
            content: counter(testname2,upper-latin);
            
            color:#fff;
            width:38px;
            height:38px;
            background:#8dc63f;
            line-height: 36px;
            text-align: center;
            left:0;
            top:0;
            border-radius:4px;
            font-size:32px;
        }

        &:after {
            position:absolute;
            display:block;
            width:61px;
            height:51px;
            top:-7px;
            right:62px;
            content:'';
            background:url(./assets/images/survey/ico.png) no-repeat -26px -14px;
            opacity:0;
        }

        &.checked {
            color:#343434;
            &:after {
                opacity:1;
            }
        }

    }
}
.sv-q> .sv-q-radio > .sv-q-c {
    margin-top:88px;
}
.sv-page {
    .sp-end {
        background-image:none;
        padding:0;
        .sv-foot {
            font-size:24px;
            height:60px;
            vertical-align: middle;
            padding:10px 0;
            text-align: center;
            img {
                margin:0 10px;
            }
        }
        .sv-complete{
            background:url(./assets/images/survey/sv_m_cbg.png) no-repeat center center;
            div {
                width:487px;
                height:378px;
                background:url(./assets/images/survey/sv_complete.png) no-repeat center center;
            }
        }
        .sv-suc {
            div {
                width:293px;
                height:361px;
                background:url(./assets/images/survey/sv_suc.png) no-repeat center center;
            }
                
        }
        
    }
}
    